.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 55%;
  position: relative;
}

.banner h1 {
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 3px;
  padding-right: 10px;
  position: absolute;
  width: 55%;
}

.banner h2 {
  transition: all 2s ease-in 500ms;
  opacity: 0;
}

.banner h1 {
  transition: all ease-in 1s;
  top: -150%;
}

.fade-in {
  opacity: 1 !important;
}

.drop-down {
  top: 10px !important;
}

.banner img {
  border-radius: 5px;
}

.last {
  color: #9333ea;
}

.banner-text {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 50px;
  font-size: 20px;
  width: 100%;
  background-color: #fdfefe;
  background-color: #efefef;
  z-index: 10;
  padding: 10px;
}

.nav-link {
  text-decoration: none;
  margin-right: 10px;
  color: #333;
  font-weight: 300;
  letter-spacing: 2px;
  transition: opacity 2s ease-in 500ms;
  opacity: 0;
  z-index: 10;
}

.nav-link:hover {
  font-weight: 500;
}

.options {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.top-icon,
.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-icon {
  margin-right: 5px;
  transition: all 2s ease-in 500ms;
  opacity: 0;
}

.section {
  height: 1000px;
}

/* Mobile */
@media (max-width: 700px) {
  .banner {
    flex-direction: column;
    padding: 0;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .banner h1 {
    font-size: 35px;
  }

  .drop-down {
    top: -155px !important;
  }
}
